body {
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    font-family: termina, sans-serif;
    font-weight: 400;
}
.container {
    margin-top: 5%;
}
.btn {
    transition: none !important;
}
.btn:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}